* {
	margin: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	font-family: sans-serif;
	color: #333;
}

header {
	height: 50px;
	display: grid;
	place-items: center;
	font-size: 1.8rem;
	 background-color: #efefef;
}

nav {
	height: 4rem;
	background-color: #ccc;
	display: flex;
	align-items: center;
	padding: 0 1rem;
}

nav > a {
	display: block;
	text-decoration: none;
	color: #444;
	font-size: 1.2rem;
	margin-right: 1rem;
	padding: 0.5rem 0;
	cursor: pointer;
	box-sizing: border-box;
}

nav a:hover {
	color: #633;
}

.component {
	display: none;
	padding: 1rem;
	place-items: center;
	height: 300px;
	font-size: 2rem;
}

.component.show {
	display: grid;
}